:root {
  --primary-text-color: #212121;
  --background-color: #fff;
  --accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --adress-bottom-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: #f5f4fa;
  --ardess-bottom-list-paragraph: #757575;
  --logo-color: #000000;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*--------header--------*/

.main-nav {
  display: flex;
  align-items: center;

}

.logo {
  display: block;
  margin-right: 93px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.19;
  font-weight: 700;
}

.logo-one {
  color: var(--accent-color);
}

.logo-two {
  color: var(--logo-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

a {
  text-decoration: none;
}

.address-list {
  display: flex;
  margin-left: auto;
}

.address-list .item-address:not(:last-child) {
  margin-right: 40px;
}

.address-list .link {
  font-style: normal;
  color: var(--ardess-bottom-list-paragraph);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*------HERO------*/

.hero {
  background-color: var(--background-color-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero-title {
  color: var(--background-color);
  text-transform: uppercase;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ---- benefits-section --- */

.benefits-list {
  display: flex;
}

.benefits-section h3 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits-section p {
  line-height: 1.71;
  color: var(--ardess-bottom-list-paragraph);
}

/* ---- what we do section ----- */

.nopadding {
  padding-top: 0;
}

.sub-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.members {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.18;
  color: var(--ardess-bottom-list-paragraph);
}

.logo-bottom {
  color: var(--background-color);
}

.address-color {
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address-bottom {
  color: var(--adress-bottom-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.address-color:hover,
.address-color:focus,
.address-bottom:hover,
.address-bottom:focus {
  color: var(--accent-color);
}

.section-light {
  background-color: var(--background-color-dark);
}

.button {
  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}

.button.hero-btn {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  min-width: 200px;
}

.button.hero-btn:hover,
.button.hero-btn::after {
  box-shadow: var(--box-shadow);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.cards h3 {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards p {
  line-height: 30px;
}

/*----portfolio-----*/
.btn-list {
  padding: 6px 22px;
}