:root {
  --stroke-color: #f5f5f5;
  --border-color-header: #ececec;
  --primary-text-color: #212121;
  --background-color: #fff;
  --accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --adress-bottom-color: rgba(255, 255, 255, 0.6);
  --button-section-bg-color: #f5f4fa;
  --ardess-bottom-list-paragraph: #757575;
  --logo-color: #000000;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*--------header--------*/
.header {
  border-bottom: 1px solid var(--border-color-header);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-right: 93px;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.19;
  font-weight: 700;
}

.logo-one {
  color: var(--accent-color);
}

.logo-two {
  color: var(--logo-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

a {
  text-decoration: none;
}

.address-list {
  display: flex;
  margin-left: auto;
}

.address-list .item-address:not(:last-child) {
  margin-right: 40px;
}

.address-list .link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-style: normal;
  color: var(--ardess-bottom-list-paragraph);
  fill: var(--ardess-bottom-list-paragraph);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 10px;
}

/*------HERO------*/

.hero {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--background-color);
  text-transform: uppercase;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ---- benefits-section --- */

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-section h3 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits-section p {
  line-height: 1.71;
  color: var(--ardess-bottom-list-paragraph);
}

.benefits-pic-item {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--button-section-bg-color);
  margin-bottom: 30px;
}

/* ---- what we do section ----- */

.nopadding {
  padding-top: 0;
}

.doing-list {
  display: flex;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}

.sub-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* ------ our team ------*/
.team {
  background-color: var(--button-section-bg-color);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--background-color);
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.members {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  padding-top: 30px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.18;
  color: var(--ardess-bottom-list-paragraph);
  margin-bottom: 16px;
}

.members-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.members-soc-item {
  width: 44px;
  height: 44px;
}

.members-soc-item:not(:last-child) {
  margin-right: 10px;
}

.members-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background-color);
}
.members-soc-link:hover {
  background-color: var(--accent-color);
}

.members-soc-link .members-soc-icon {
  fill: #afb1b8;
}
.members-soc-link:hover .members-soc-icon {
  fill: var(--background-color);
}

/*------clients------ */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: var(--background-color);
}
.client-link .clients-icon {
  fill: #afb1b8;
}

.client-link:hover {
  border-color: var(--accent-color);
}

.client-link:hover .clients-icon {
  fill: var(--accent-color);
}
/* ----- footer ----- */

.logo-bottom {
  color: var(--background-color);
}

.address-color {
  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

.address-bottom {
  color: var(--adress-bottom-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

.address-color:hover,
.address-color:focus,
.address-bottom:hover,
.address-bottom:focus {
  color: var(--accent-color);
}

.section-footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 28px;
}

.address-item:not(:last-child) {
  margin-bottom: 12px;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--button-section-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}

.button.hero-btn {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  min-width: 200px;
}

.button.hero-btn:hover,
.button.hero-btn:focus {
  box-shadow: var(--box-shadow);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.container-bottom {
  display: flex;
}

.footer-address-box {
  margin-right: 70px;
}

.footer-social-box {
  padding-top: 12px;
}

.footer-soc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-color);
}

.social-bottom-list {
  display: flex;
  align-items: center;
}

.social-bottom-item {
  width: 44px;
  height: 44px;
}

.social-bottom-item:not(:last-child) {
  margin-right: 10px;
}

.social-bottom-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-bottom-link:hover {
  background-color: var(--accent-color);
}
.social-bottom-icon {
  fill: var(--background-color);
}

/*----portfolio-----*/
.cards h3 {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-btns {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-list {
  padding: 6px 22px;
}

.btn-list:hover,
.btn-list:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-elements {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
}
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.description-portfolio {
  font-size: 16px;
  line-height: 1.875;
  color: var(--ardess-bottom-list-paragraph);
}
